html, body {
    background-color: rgb(1, 3, 11);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.containerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
}

.backgroundImage {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.topBar{
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.navImage {
    width: 55px;
    padding: 5px;
}

#logo {
    width: 256px;
}

#arrowRight {
    float: right;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25%;
    position: absolute;
    cursor: default;
    font-size: 18px;
    color: black;
}

#madeBy {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.bottomBar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.story {
    width: 100%; 
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    bottom: 80px;
    font-size: 1rem;
    color: rgb(190, 185, 185);
    cursor: default;
    position: relative;
    line-height: 1.6;
    padding: 20px;
}

.story a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

@media screen and (max-width: 800px) {

}

@media screen and (max-width: 1300px) {

}