/*page settings*/

body {
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 98.5%;
    height: 2em;
    font-size: x-large;
}

button {
    font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

/*top_bar & bottom_bar settings*/

.bar{
    cursor: default;
    height: 2.5em;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#top_bar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: navy; 
    height: 2.5em;
}

#bottom_bar {
    background-color: navy;
    height: 2.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    bottom: 0;
}

#bottom_bar:hover {
    background-color: rgb(0, 0, 180);
}

/*calculcator settings*/

#wrapper {
    display: block;
    flex-direction: column;
    height: 30em;
    width: 30em;
    margin: auto;
    align-items: center;
    margin-top: 10em;
}

.clear { 
    display: flex;
}

#clear_all {
    height: 3em;
    flex: 2.16;
}

#del {
    height: 3em;
    flex: 1;
}

#operator_equal {
    height: 3em;
    flex: 1;
}

.num_block_wrapper {
    display: flex;
}

#operator_plus {
    width: 20%;
    height: 5em;
}

#num_block_style_operator {
    width: 20%;
    height: 5em; 
}

#num_0 {
    flex: 3;
}

#num_1, #num_2, #num_3, #num_4, #num_5, #num_6, #num_7, #num_8, #num_9 {
    flex: 1; 
}

#operator_multiplication, #operator_minus, #operator_plus {
    flex: 1;
}

#operator_division {
    flex: 0.9;
}

.content_value {
    width: 100%;    
    display: flex;
    height: 5em;
    justify-content: center; 
    align-items: center;
}