:root {
    --primary-color: #1f242d;
    --second-bg-color: #323946;
    --accent-color: #0d6efd;
    --text-color: #fff;
}

.header-button {
    background-color: var(--primary-color);
    border: 2px solid var(--second-bg-color);
    box-shadow: 0 0 25px 1px var(--second-bg-color);
}

.header-button:hover {
    background-color: var(--accent-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
    border: 2px solid var(--second-bg-color);
    box-shadow: 0 0 25px 1px var(--second-bg-color);
}

.dropdown-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.card {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.card p {
    font-size: 24px;
    text-align: center;
}

#tech-stack-img {
    width: 50%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    transform: scaleX(-1);
}

nav {
    background-color: var(--second-bg-color);
}

#card-color {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 15px 3px var(--primary-color);
}

#footer-button {
    color: var(--text-color);
}

#about-me {
    background-color: var(--second-bg-color);
}

#tech-stack {
    background-color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
}

body {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--primary-color);
}

#carouselExampleIndicators img {
    object-fit: cover;
}

#projects {
    background-color: var(--second-bg-color);
}

h5 {
    font-size: 28px;
}

h3 {
    font-size: 55px;
}

h2 {
    font-size: 70px;
}

#startseite-content p {
    font-size: 20px;
}

#about-me-text p {
    font-size: 21px;
}

@media (max-width: 576px) {
    #startseite-text {
        text-align: center;
    }
    #startseite-text h3 {
        font-size: 30px;
    }

    #about-me-text p {
        font-size: 16px;
        text-align: center;
    }
    #startseite-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 992px) {
    #startseite-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #startseite-text {
        text-align: center;
    }
    #startseite-text h3 {
        font-size: 30px;
    }
    #about-me-text p {
        font-size: 18px;
        text-align: center;
    }
    #startseite-img {
        width: 35em;
    }
    #carouselExampleIndicators {
        width: 40em;
    }
}
@media (min-width: 1200px) { /* Large (LG) */ }
@media (min-width: 1400px) { 
    p {
        font-size: 32px;
    }
}