body {
    width: 100%;
    font-family: "Raleway", serif;
    font-weight: 500;
    font-style: normal;
}

#carouselExampleIndicators img {
    height: 920px;
    object-fit: cover;
}

.profile-img {
    box-shadow: 0 0 15px 1px black;
}

/* .projects img {
    width: 100%;
    height: 280px;
    object-fit: cover;
} */

@media (max-width: 992px) {
    .carouselExampleIndicators {
        width: 100%;
    }
}