* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#backgroundImage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.modelle {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 50px;
    box-shadow: 0 0 50px black;
}

.modelle div {
    background-color: rgb(222, 41, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 13%;
    line-height: 1.6;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
    transition: width 1s;
}

.modelle div:hover {
    width: 70%;
    transition: 0.8s;
}

.modelle a {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.863);
    box-shadow: 0 0 60px rgb(0, 0, 0);
}

#tesla-font {
    width: 30%;
    top: 0;
    padding: 10px;
    position: absolute;
}

#arrowLeft {
    width: 70px;
    padding: 5px;
    position: fixed;
    z-index: 1;
    bottom: 0;
}

.kleidung-shop {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
}

.row-1 {
    padding: 0 3%;
    display: flex;
    width: 100%;
    height: 40%;
}

#clothing-1 {
    width: 100%;
    height: 100%;
}

.row-2 {
    display: flex;
    bottom: 0;
    margin: 4% 0;
    padding: 0 3%;
    width: 100%;
    height: 40%;
}

.box {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clothing-2 {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 500px) {

}